.page {
	margin:0px auto;
	width:800px;
	color:#222;
	font-family:Sans, Arial;
}

.post {
	margin: 5px 0px;
}

.rounded {
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.center {
    margin: 50px auto;
}

.date {
	float: right;
}

.error {
    width: 600px;
    background: #fee;
    border: 1px solid #fcc;
    padding: 50px;
    margin: 50px auto;
    text-align:center;
}

.user {
    width:600px;
}

.user td {
    padding:2px 5px 2px 5px;
}

.aligncenter {
    margin:auto;
}

.alignright {
    float:right;
}

.alignleft {
    float:left;
}
